/* standard CSS StyleSheet
 * Author: Brian Bourn*/
 
canvas{
     padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

 body{
 	background-image: url("pic/mountain.jpg");
 	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 	width: 100%;
    padding:0;
 	height: 5%;
 }

 #resume {
        background-color: #2f2f2f;
        opacity: .85;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;     
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        color: #C0C0C0;
        padding:10px;
 }

footer{
	width: 100%;
	background-image: url("pic/backgrounds/green_cup.png");
	height: 5%;
}

#resume > a:link {
    color:#FF0000;
}
#resume > a:visited {
    color:#FF9900;
}

table{
	border-collapse: collapse;
    width:100%;
}

#headdiv img{
	display:block;
    margin: 0 auto;
}

#social-buttons{
    float: right;
    padding-top: 20px;
}

@media (max-width: 600px) {

    #resume         { width: 90%; }
    #resume > p,a { font-size: 16px; }

}